body{
  background-color: #333;
  color:white
}


.App {
  text-align: center;
  padding: 1rem;
}

.App .info-pokemon h2{
  margin-top: 2rem;
  font-size: 1.9rem;
}

.App .info-pokemon .list-pokemon{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App .info-pokemon .list-pokemon .card-pokemon{
  margin: 1rem;
  width: 300px;
  border: 1px solid #666;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 5px 5px 5px  #111;
}

.App .info-pokemon .list-pokemon .card-pokemon img{
  width: 200px;
  height: 200px;
  transition: 0.3s all ease-in-out
}

.App .info-pokemon .list-pokemon .card-pokemon img:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.App .info-pokemon .list-pokemon .card-pokemon .type{
  /* border: 1px solid #880000; */
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
}
.App .info-pokemon .list-pokemon .card-pokemon .type span{
  color: #000;
  font-weight: 600np;
  margin: 0 0.4rem;
  padding: 0.1rem 0.2rem;
  background-color: #ccc;
}